@model MvcBookStore.Web.Models.Book.EditorBookViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id);

    @Html.Partial("Partials/_EditorPartial", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}