<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Book Store</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">MVC Book Store</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Book")">Books</a></li>
                    <li><a href="@Url.Action("Index", "Author")">Authors</a></li>
                    <li><a href="@Url.Action("Index", "Library")">Library</a></li>
                    <li><a href="@Url.Action("Index", "Inventory")">Inventory</a></li>
                    <li><a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" role="main">
        <br />
        <br /><br />
        @DisplatDefaultErrorMessageHelper.DisplatDefaultErrorMessage(ViewData.ModelState)
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>